<div role="main">
    <div class="container">
        <section id="directives-calendar">
            <div class="page-header">
                <h1>Calendario Entregas</h1>
            </div>
            <div class="well">
                <div class="row-fluid">
                    <div class="span8">
                        <tabset>
                           <tab select="renderCalender('myCalendar3');">
                            <div class="calendar" ng-model="eventSources" calendar="myCalendar3" ui-calendar="uiConfig.calendar"></div>
                           </tab>
                        </tabset>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
