.carousel{
    margin-top: 5px;
}
.carousel .item{
    min-height: 400px; /* Prevent carousel from being distorted if for some reason image doesn't load */
}
.carousel .item img{
    margin: 0 auto; /* Align slide image horizontally center */
}
