<div class="container">
    <div class="row imagetiles">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
        	<a href="/{{$root.context}}/Content/app/modules/Customer.html">
            	<img src="../images/home/dash_clientes.jpg" class="img-responsive" title="Clientes">
            </a>
            <h1><span class="label label-default">Clientes</span></h1>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
        	<a href="/{{$root.context}}/Content/app/modules/PreOrder.html">
            	<img src="../images/home/dash_proformas.jpg" class="img-responsive" title="Proformas">
            </a>
            <h1><span class="label label-default">Proformas</span></h1>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
        	<a href="/{{$root.context}}/Content/app/modules/School.html">
            	<img src="../images/home/dash_escuelas.jpg" class="img-responsive" title="Escuelas">
            </a>
            <h1><span class="label label-default">Escuelas</span></h1>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
	        <a href="/{{$root.context}}/Content/app/modules/Product.html">
	            <img src="../images/home/dash_productos.jpg" class="img-responsive" title="Productos">
            </a>
            <h1><span class="label label-default">Productos</span></h1>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
        	<a href="/{{$root.context}}/Content/app/modules/Rutas.html">
            	<img src="../images/home/dash_rutas.jpg" class="img-responsive" title="Rutas">
            </a>
            <h1><span class="label label-default">Rutas</span></h1>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
        	<a href="/{{$root.context}}/Content/app/modules/Entregas.html">
            	<img src="../images/home/dash_entregas.jpg" class="img-responsive" title="Entregas">
            </a>
            <h1><span class="label label-default">Entregas</span></h1>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
        	<a href="/{{$root.context}}/Content/app/modules/Entregas.html#/entregas/calendar">
            	<img src="../images/home/dash_calendario.jpg" class="img-responsive" title="Calendario">
            </a>
            <h1><span class="label label-default">Calendario</span></h1>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
        	<a href="/{{$root.context}}/Content/app/modules/Vehiculos.html">
            	<img src="../images/home/dash_vehiculos.jpg" class="img-responsive" title="Vehiculos">
            </a>
            <h1><span class="label label-default">Veh&iacute;culos</span></h1>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
        	<a href="/{{$root.context}}/Content/app/modules/User.html">
            	<img src="../images/home/dash_usuarios.jpg" class="img-responsive" title="Usuarios">
            </a>
            <h1><span class="label label-default">Usuarios</span></h1>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
        	<a href="/{{$root.context}}/Content/app/modules/Role.html">
            	<img src="../images/home/dash_roles.jpg" class="img-responsive" title="Roles">
            </a>
            <h1><span class="label label-default">Roles</span></h1>
        </div>
    </div>
</div>

    <style>
  div.imagetiles div.col-lg-3.col-md-3.col-sm-3.col-xs-6{
  padding: 5px;
  width: 20%;
  text-align: center !important;
  vertical-align: middle !important;
  line-height: 90px !important; 
  margin: auto;
  
}
    </style>